Repository SFDO-Tooling/CumulusCI, pull requests merged in 2022-05, with the labels that each got.

#3194 Add robot CLI commands for Playwright installer
  cumulusci/cli/cci.py
  cumulusci/cli/robot.py
  cumulusci/cli/tests/test_robot.py
  docs/robot.rst
  docs/robot_playwright.rst
Labels: docs reviewed

#3204 Document the release option for sources
  docs/config.rst
Labels: docs reviewed, ignore-for-release

#3217 Reference workflow in SFDO-Tooling/.github
  .github/workflows/update_dependencies.yml
Labels: ignore-for-release
