Repository SFDO-Tooling/CumulusCI, pull requests merged in 2023-02, with the labels that each got.

#3509 Fix pre-commit/isort
  .pre-commit-config.yaml
Labels: ignore-for-release

#3495 Remove testing data from release automation
  .github/workflows/release.yml
  .github/workflows/slow_integration_tests.yml
  .pre-commit-config.yaml
  cumulusci/__about__.py
  pyproject.toml
Labels: ignore-for-release, CI/CD

#3496 Revert temp workaround from release workflow
  .github/workflows/release.yml
Labels: ignore-for-release, CI/CD

#3515 Re-order release notes config
  .github/release.yml
Labels: ignore-for-release

#3489 Fix integration test errors
  cumulusci/tasks/sample_data/test_capture_sample_data.py
  cumulusci/tasks/sample_data/test_load_sample_data.py
Labels: ignore-for-release

#3501 Test that release can be installed
  .github/workflows/release_test.yml
  pyproject.toml
Labels: ignore-for-release, CI/CD

#3517 Exclude label from release notes generator
  .github/release.yml
Labels: ignore-for-release

#3519 ADR: Record Architecture Decisions
  .adr-dir
  docs/adrs/0001-record-architecture-decisions.md
  docs/adrs/README.md
  docs/adrs/templates/template.md
Labels: adr

#3528 Force inclusion of pytest plugins in wheels
  pyproject.toml
Labels: ignore-for-release

#3463 Add pyright to pre-commit check
  .pre-commit-config.yaml
  cumulusci/core/metadeploy/plans.py
  cumulusci/salesforce_api/package_install.py
  cumulusci/tasks/bulkdata/query_transformers.py
  pyproject.toml
  requirements/dev.in
  requirements/dev.txt
  requirements/prod.in
Labels: ignore-for-release, CI/CD

#3532 Use string for modelVersion
  cumulusci/tasks/marketing_cloud/deploy.py
Labels: ignore-for-release
