Repository SFDO-Tooling/CumulusCI, pull requests merged in 2024-11, with the labels that each got.

#3491 Cleanup some warnings
  .prettierignore
  cumulusci/core/config/org_config.py
  cumulusci/core/config/tests/test_config.py
  cumulusci/core/dependencies/tests/test_dependencies.py
  cumulusci/oauth/tests/test_client.py
  cumulusci/tasks/apex/tests/test_apex_tasks.py
  cumulusci/tasks/bulkdata/tests/test_snowfakery.py
  cumulusci/tasks/github/tests/test_release.py
  cumulusci/tasks/release_notes/parser.py
  cumulusci/tasks/salesforce/BaseRetrieveMetadata.py
  cumulusci/tasks/salesforce/RetrievePackaged.py
  cumulusci/tasks/salesforce/tests/test_enable_prediction.py
  cumulusci/tasks/salesforce/users/tests/test_permsets.py
  cumulusci/tasks/tests/test_create_package_version.py
  cumulusci/utils/ziputils.py
Labels: ignore-for-release, cla:missing

#3845 Fix readthedocs configuration
  .readthedocs.yml
Labels: ignore-for-release

#3558 Test SFDX release candidate every week
  .github/workflows/chores.yml
  .github/workflows/release_test.yml
  .github/workflows/release_test_sfdx.yml
  .github/workflows/slow_integration_tests.yml
  Makefile
  pyproject.toml
  uv.lock
Labels: ignore-for-release, internal
